.enterCircle {
	fill: green;
}

.enterText {
	fill: black;
}

.update {
	fill: #333;

}

#label {
  position: absolute;
  left: 10px;
  font-weight: 100;
  font-family: "Proxima Nova", "Montserrat", sans-serif;
}

.hover {
    fill: yellow;   
}

#sliderContainer {
    text-align: center;
    top: 600px;
}

text {
	text-anchor: middle;
}

exampletext {
	text-anchor: middle;
	fill: white;
}

#UserChoicesYears.yearChoice1{
	fill: green;
}

